.navbar {
    background-color: #FE624C;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    height: 53px;
    padding: 0px 20px;
    .navbar-left{
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 20px;
            li {
                margin-right: 20px;
                .navbar-link {
                    color: #FFFFFF;
                    text-decoration: none;
                    &:hover {
                        cursor: pointer;
                    }
                }
                img {
                    padding-right: 10px;
                }
            }
        }
    }
    .navbar-right {
        &:hover {
            cursor: pointer;
        }
    }
}