.mantenimiento-experiencias-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mantenimiento-experiencias {
        margin: 30px 20px;
        width: 70%;
    
        .experiencias-agregar {
            display: flex;
            .search {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                height: 38px;
                input {
                    width: 100%;
                    height: 100%;
                    border: 0.5px solid #9A9A9A;
                    border-radius: 8px;
                    padding-left: 15px;
                    &::placeholder {
                        color: #999999; // Cambia este color al que desees (puede ser hex, rgb o nombre)
                    }
                }
                .search-icon {
                    position: relative;
                    right: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
            div {
                display: flex;
                flex-direction: row;
                gap: 20px;
                button {
                    width: auto;
                    height: auto;
                    padding: 0 20px;
                    border-radius: 4px;
                    font-size: 14px;
                }

                .link-btn-agregar {
                    width: auto;
                    height: auto;
                    .btn-agregar-exp {
                        width: auto;
                        height: 100%;
                        padding: 0px 20px; 
                        border-radius: 4px;
                        font-size: 14px;
                        border: none; 
                        cursor: pointer;
                        text-align: center;
                    }
                }
            }
        }
        
        .experiencias-table-container {
            margin-top: 20px;
            padding: 20px 20px;
            border: 1px solid #ddd;
            border-radius: 10px; 
            .comercios-table {
                width: 100%;
                border-collapse: collapse;
                // overflow: hidden;
                th, td {
                    padding: 10px 5px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }
                tr:hover {
                    background-color: #f5f5f5;
                }

                th:nth-child(1) {
                    width: 20%;
                    padding-left: 50px;
                }

                th:nth-child(2) {
                    width: 45%;
                }

                th:nth-child(3) {
                    width: 35%;
                }

                td:nth-child(1) {
                    padding-left: 50px;
                }

                tbody {
                    tr {
                        td {
                            .btn-editar-exp {
                                width: 100px;
                            }
                            .btn-eliminar-exp {
                                width: 100px;
                            }
                        }

                        .acciones-exp {
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}